<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="NodeProxy">
                    <match url=".*" />
                    <action type="Rewrite" url="http://localhost:9099/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
